@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  background-color: #3e3b3e;
}

.quiz {
  display: flex;
  flex-direction: column;
  background-color: #3e3b3e;
  font-family: Arial, sans-serif;
}

.guessed {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  height: 70vh;
  transform: translate(0, 10vh);
}

.score {
  transform: translate(0, 10vh);
  color: white;
  text-decoration: none;
  font-size: 300%;
  font-family: 'Lato', sans-serif;
  margin-left: 5%;
  max-width: 30;
}

.guessed-sprite {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  transform: translate(0, 10vh);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 50vh;

}


.small-q-sprite {
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15% 15% 15% 15%;
  background-color: #aaaaaa;
  margin: .5%;
}

.nav {
  max-width: fit-content;
}

.quiz-nav {
  display: flex;
  top: 15%;
  left: 15%;
  position: absolute;
  transform: translate(0, 15vh);
}

.bio {
  max-width: 50vw;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 150%;
  font-family: 'Lato', sans-serif;
}

.quiz-util {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30%;
  transform: translate(0, 10vh);
  margin-left: 5%;
}
.reset-quiz {
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  font-family: 'Lato', sans-serif;
  margin-bottom: 2%;
  width: 100%;

}

.guess-button {
  background-color: #12ad12;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  font-family: 'Lato', sans-serif;
  margin-top: 2%;
  width: 100%;

}

.guess-button:hover {
  background-color: #0d8d0d;
}



.reset-quiz:hover {
  background-color: darkred;
}

.reset-quiz:active, .reset-button:active, .search-button:active, .guess-button:active {
  transform: translateY(2px);
}

.quiz-text {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%;
  font-size: 25px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: 'Lato', sans-serif;
}

.search-button, .reset-button, .footer-confirm, .footer-cancel {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  margin: 5px;
  font-family: 'Lato', sans-serif;

}

.small-q-sprite * {
  font-family: 'Lato', sans-serif;

}

.search-button, .footer-confirm {
  background-color: #4CAF50;
}

.reset-button {
  background-color: red;
  font-family: 'Lato', sans-serif;

}

.reset-button:hover {
  background-color: darkred;
}

.search-button:hover {
  background-color: #45a049;
}

.search-button:active, .reset-button:active {
  transform: translateY(2px);

}


.modal-field {
  display: flex;
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  align-items: center;
  justify-content: end;
}

.modal-header {
  position: relative;
  top: 5%;
  right: 4%;
  font-weight: 250;
  font-size: 125%;
}

.checkbox {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.check-label {
  display: inline-block;
  vertical-align: middle;
}

.pokemon-container {
  display: flexbox;
  flex-wrap: wrap;
  min-width: 25%;
  max-width: 50%;
  gap: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
}

.results-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  gap: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  height: 60vh;
  overflow-y: scroll;
  background-color: #aaaaaa;
  position: absolute;
  width: 50vw;
  right: 5%;
}

.search-button-div {
  transform: translate(19vw, -40vh);
}

.results-div * {
  font-family: 'Lato', sans-serif;
  background-color: white;
}

.search-container h1 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-family: 'Lato', sans-serif;
}

.sprite-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-nav {
}

.modal-body {
  display: grid;
  justify-content: center;
}

.modal-body input {
  width: 100%;
}

.modal-div {
  height: 100vh;
  width: 100vw;
  
}


.search-modal {
  display: flex;
  z-index: 50;
  border: solid black;
  padding: 2%;
  background-color: #aaaaaa;
  border-radius: 15px;
  width: 25vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.5vw;
  position: absolute;
  left: 35%;
  bottom: 75%;
  margin-bottom: 2.5%;
}



.search-container, .results-header, .search-background {
  background-color: #3e3b3e;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.search-background {
  height: 100vh;
}

.pokemon-res {
  background-color: white;
}

.pokemon-info {
  display: flexbox;
  align-items: center;
  
}

.info-container {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
}

.info-container p, h1{
  margin-bottom: .5vh;
  margin-top: .5vh;
}

.sprite-container {
  border: solid;
  border-radius: 15% 15% 15% 15%;
  border-color: black;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.results-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Optional: Background color to ensure readability */
  padding: 10px;
}

.stat-div {
  display: flexbox;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  border-color: black;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.type-container {
  display: grid;
  grid-row: auto;
  gap: 10px;
  align-items: center;
  align-content: center;
  justify-items: center;


}

.nav {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #3e3b3e;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
}

.me-auto {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  
}

.me-auto * {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 300%;
  font-family: 'Lato', sans-serif;
}

.me-auto *:hover {
  color: white;
  transition: ease-in-out .2s;
  text-shadow: white 0 0 5px;
}

.me-auto *:active {
  transform: translateY(2px);

}

.homepage-sprite-container, .homepage-nav {
  display: flex;
  justify-content: center;
  align-items: center;

}

.homepage-nav {
  height: 40%;
  max-height: 40%;
}

.homepage-sprite-container {
  padding: 5%;
}

.homepage-sprite {
  width: 250%;
  height: 250%;
  object-fit: contain;
  border: solid;
  border-radius: 15% 15% 15% 15%;
  padding: 2%;
  background-color: #aaaaaa;
}

.homepage-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3e3b3e;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, 50%);

}
