.homepage-div {
    display: flex;
    flex-direction: column;
}

.homepage-sprite-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-sprite {
    border: solid;
    min-width: 15%;
    min-height: 15%;
    border-radius: 10% 10% 10% 10%;
    border-color: white;
    border-width: 2px;
    background-color: #999797;
}

.bio {
    margin-right: 2.25%;
    text-align: center;
    font-size: 200%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

